<footer>
	<div class="container">
		<div class="footer">
			<div class="footer__logo">
				<img src="./assets/icons/footerLogo.svg" alt="Logo">
			</div>
			<div class="footer__links">
				<div class="footer__copyright">2022 © Mealco</div>
				<nav class="footer__menu">
					<ul class="footer__menu-list">
						<li class="footer__menu-item"><a href="#" class="footer__menu-link">Careers</a></li>
						<li class="footer__menu-item"><a href="#" class="footer__menu-link">Brands</a></li>
						<li class="footer__menu-item"><a href="#" class="footer__menu-link">Press</a></li>
					</ul>
				</nav>
			</div>
		</div>

	</div>
</footer>