<header class="@@headerClass">
  <div class="container">
    
    <div class="header @@headerClass">
      <div class="header__burger-btn" aria-label="Toggle navigation" id="burgerMenu" ></div>
      <div class="header__logo">
        <a href="/mealco/dist/" class="header__logo-link"><img src="./assets/icons/logo.svg" alt="logo"></a>
      </div>
      <div class="header__menu " id="mobileNav">
        <nav class="header__nav">
          <ul class="header__list">
            <li class="header__item">
              <a href="brands.html" class="header__link">Brands</a>
            </li>
            <li class="header__item ">
              <a href="press.html" class="header__link">Press</a>
            </li>
          </ul>
        </nav>
        <button onclick="openPopup()" class="header__button openPopup">Join our waitlist!</button>
      </div> 
    </div>
  </div>
</header> 

