 
  <div id="popup" class="popup hidden">
    <div class="popup-content">
      <span id="closePopup" class="close"><img src="./assets/icons/close.svg" alt=""></span>
     <div id="popupWrapper"  class="popup-wrapper">
		 <form id="popupForm" class="popup-form " action="#" method="GET">
			<ul class="popup-form__input-grup">
				<li class="popup-form__title">Join our waitlist</li>
				<li class="popup-form__item">
					<label class="popup-form__label" for="name">Name</label>
				<input class="popup-form__input"  id="name" type="text" name="name"  required>
				</li>
				<li class="popup-form__item"> 
					<label class="popup-form__label" for="LastName">Last name</label>
				<input class="popup-form__input"  id="LastName" type="text" name="LastName"   required>
				</li>
				<li class="popup-form__item">
					<label class="popup-form__label" for="phone">Phone</label>
				<input class="popup-form__input"  id="phone" type="tel" name="phone"   required>
				</li>
				<li class="popup-form__item">
					<label class="popup-form__label" for="email">Email</label>
				<input class="popup-form__input"  id="email" type="email" name="email" required>
				</li>
				<li class="popup-form__item">
					<label class="popup-form__label" for="restaurantName">Restaurant name</label>
				<input class="popup-form__input"  id="restaurantName" type="text" name="restaurantName"  required>
				</li>
				<li class="popup-form__item">
					<label class="popup-form__label" for="restaurantAddress">Restaurant address</label>
				<input class="popup-form__input"  id="restaurantAddress" type="text" name="restaurantAddress" required>
				</li>
				
			</ul>
			<button id="popupSubmitBtn" class="wide-btn wide-btn--popup  wide-btn--popup-responsive" type="submit" >Submit</button>
			<section class=" for-partners for-partners--popup">
		
			<div class="for-partners__wrapper">
						<h4 class="for-partners__title">Mealco’s partners get </h4>
				<div class="card card--card-partner">
					<div class="card__item">
						<div class="card__mark"><img src="./assets/home/Vector.svg" alt="mark"></div>
						<p class="card__item-text">Exclusivity over their territory</p>
					</div>
					<div class="card__item">
						<div class="card__mark"><img src="./assets/home/Vector.svg" alt="mark"></div>
						<p class="card__item-text">Exclusivity over their territory</p>
					</div>
					<div class="card__item">
						<div class="card__mark"><img src="./assets/home/Vector.svg" alt="mark"></div>
						<p class="card__item-text">Exclusivity over their territory</p>
					</div>
					<div class="card__item">
						<div class="card__mark"><img src="./assets/home/Vector.svg" alt="mark"></div>
						<p class="card__item-text">Exclusivity over their territory</p>
					</div>
					<div class="card__item">
						<div class="card__mark"><img src="./assets/home/Vector.svg" alt="mark"></div>
						<p class="card__item-text">Exclusivity over their territory</p>
					</div>
				</div>
				
			</div>
		
	 </section>
	 
	 <button id="popupSubmitBtn" class="wide-btn wide-btn--popup" type="submit" >Submit</button>
		</form>
		<div id="popupSuccess" class="success-massage hidden">
			<h3 class="success-massage__title">Thank you for your interest!</h3>
			<div class="success-massage__subtitle">Someone from our team will be reaching out soon. In the meantime, check our brands.</div>
			<button id="closePopupSuccess" class="wide-btn"  >Check brands</button>
		</div>
	  </div>
    </div>
  </div>