@import "./variables.scss";

.small-btn {
	background-color: #fff;
	border: 1px solid $button-border-color;
	padding: 11px 23.5px 10px 23.5px;
	border-radius: $button-border-radius;
	font-weight: 900;
	font-size: 1.13rem;
	-webkit-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1);
	box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1);
	transition: all 0.3s ease-in-out;
}
.small-btn:active {
	transform: translate(5px, 5px);
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
}
@media (max-width: 767px) {
	.small-btn {
		font-size: 0.9rem;
	}
}

.wide-btn {
	background-color: #fff;
	font-size: 2rem;
	line-height: 1.187;
	border: 1px solid #000;
	border-radius: 100px;
	width: 100%;
	max-width: 1280px;
	padding: 23.6px 0;
	@include box-shadow-prime;
	transition: all 0.2s ease;
	position: relative;
	z-index: 2;
}

.wide-btn:active {
	transform: translate(5px, 7px);
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
}
.mid-btn {
	background-color: #fff;
	border: 1px solid $button-border-color;
	padding: 18.5px 56px;
	border-radius: $button-border-radius;
	font-weight: 900;
	font-size: 1.13rem;
	-webkit-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1);
	box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1);
	transition: all 0.3s ease-in-out;
}
.mid-btn:active {
	transform: translate(5px, 5px);
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
}
button:hover {
	transition: all 0.3s ease-in-out;
	transform: scale(1.1);
}
