$bg-color: #f4f4f4;
$text-color: #333;

// font-style
$font-family-sculpin: "Sculpin";
$font-family-Nunito: "Nunito Sans";
$font-size: 16px;
$font-weight: 900;
$line-height: 1.22;
$font-color-primary: #000;
$font-color-secondary: #000;

// button
$button-border-color: #000;
$button-text-color: #fff;
$button-border-radius: 100px;
